# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables and secrets
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS / Windows files
.DS_Store
Thumbs.db

# Python testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.temp

# ChromaDB generated database
chroma_store/

# FAISS generated index
faiss_store/